@import url('./root.css');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* common-class */

.bg_body_color {
    background-color: var(--color-black);
}

.container {
    max-width: 1140px !important;
}

.start_btn {
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%), linear-gradient(0deg, #000000, #000000);
    color: var(--color-white);
    padding: 10px 15px;
    border-radius: 36px;
    border: 1px;
    transition: all linear 500ms;
}

.start_btn:hover {
    background: linear-gradient(44.88deg, #8C01FA -2.50%, #000000 50.28%), linear-gradient(45deg, #000000, #000000);
}

.read_btn {
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 36px;
    color: var(--color-white);
    border: 1px solid white;
    transition: all linear 500ms;
}

.read_btn:hover {
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%), linear-gradient(0deg, #000000, #000000);
    border: 1px solid transparent;
}


/* max-width */

.mw_custom_481 {
    max-width: 481px;
}

.mw_custom_267 {
    max-width: 267px;
}

.mw_custom_270 {
    max-width: 270px;
}

.mw_custom_263 {
    max-width: 263px;
}

.mw_custom_250 {
    max-width: 250px;
}


/* padding */

.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt_11 {
    padding-top: 11px;
}

.pt_64 {
    padding-top: 64px;
}


/* gap */

.gap_40 {
    gap: 40px;
}

.gap_10 {
    gap: 10px;
}

.gap_32 {
    gap: 32px;
}


/* line-height */

.lh_heading1 {
    line-height: 45.6px;
    letter-spacing: 0.68px;
}

.hero_phara_lh {
    line-height: 27.3px;
}


/* hero-section */

.over-flow {
    overflow-y: hidden;
}

.over-layer {
    position: absolute;
    width: 100%;
    height: 1000%;
    top: 0;
    left: -100%;
    background: #000000d3;
    z-index: 1;
}

.bg_color {
    padding: 5px 0px 4px 0px;
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
    ;
}

.bg_section_img {
    background-image: url('../image/hero_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg_nav {
    background-color: #00000099;
}

nav ul li a {
    text-decoration: none !important;
    color: var( --color-light-gray);
    font-family: var(--ff-main);
    font-size: var(--fs-4xsm);
}

.fix1,
.fix2,
.fix3 {
    transition: all 0.2s ease-in-out;
}

.left-corner {
    left: 9px;
}

.fixer1 {
    display: none;
}

.fixer2 {
    transform: rotate(48deg) translate(3px, -1px);
}

.fixer3 {
    transform: rotate(-45deg) translate(13px, -10px);
}


/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00000099;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 14px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    transition: all linear 300ms;
}

.dropdown:hover svg {
    transform: rotate(180deg);
}


/* slider */

.slick-track {
    display: flex !important;
    align-items: center !important;
    gap: 40px;
}

.abc {
    filter: grayscale(100%);
}

.abc:hover {
    filter: grayscale(0%);
}


/* section */

.bg_img {
    background-image: url('../image/section_img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.heading_11 {
    background: -webkit-linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading_12 {
    background: -webkit-linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading_13 {
    background: -webkit-linear-gradient(265.11deg, #00FFBD -5.84%, #025B8C 111.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue_dot {
    position: relative;
}

.blue_dot::before {
    content: '';
    position: absolute;
    width: 4.29px;
    height: 4.47px;
    top: 6px;
    left: -2%;
    background: #1FCFF1;
    border-radius: 10px;
}

.lightblue_dot {
    position: relative;
}

.lightblue_dot::before {
    content: '';
    position: absolute;
    width: 4.29px;
    height: 4.47px;
    top: 37px;
    left: 0;
    background: #1FCFF1;
    border-radius: 10px;
}

.common_card {
    border-radius: 24px;
    padding: 31px 31px 32px 32px;
}

.fast_line {
    position: relative;
}

.fast_line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 33px;
    background-color: #1FCFF1;
    top: 4px;
    left: 0;
}

.parple_line {
    position: relative;
}

.parple_line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 33px;
    background-color: #9945FF;
    top: 4px;
    left: 0;
}

.green_line {
    position: relative;
}

.green_line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 33px;
    background-color: #19FB9B;
    top: 4px;
    left: 0;
}

.yellow_line {
    position: relative;
}

.yellow_line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 33px;
    background-color: #FFD512;
    top: 4px;
    left: 0;
}


/* media quiry */

@media (max-width:767.5px) {
    label[id="nav"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        right: 9px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 4;
    }
    label[id="nav"]>span {
        width: 100%;
        height: 5px;
        background-color: var(--color-light-gray);
    }
    .left-corner {
        left: 9px;
    }
    .menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background-color: #00000099;
        position: fixed;
        top: 0;
        z-index: 3;
        left: -100%;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .left-0 {
        left: 0;
    }
}

@media (min-width:575.5px) {
    .lh_heading1 {
        line-height: 65.6px;
    }
    .start_btn {
        padding: 16px 33px;
    }
    .read_btn {
        padding: 16px 33px;
    }
}

@media (min-width:767.5px) {
    .lh_heading1 {
        line-height: 75.6px;
    }
}

@media (min-width:991.5px) {}

@media (min-width:1199.5px) {
    .lh_heading1 {
        line-height: 75.6px;
    }
}